.popup__content {
   display: flex;
   flex-direction: column;
   background-color: white;
   width: 430px;
   height: 330px;
   border-radius: 10px;
   position: relative;
}

@media (max-width: 960px) {
   .popup__content {
      width: 350px;
   }
}

@media (max-width: 620px) {
   .popup__content {
      width: 282px;
      height: 322px;
   }
}