.elements__like {
   width: 22px;
   height: 19px;
   background-image: url(../../../images/like.svg);
   background-size: contain;
   background-repeat: no-repeat;
   cursor: pointer;
   -webkit-transition: 0.3s ease-in-out;
   -o-transition: 0.3s ease-in-out;
   transition: 0.3s ease-in-out;
   border: none;
   background-color: inherit;
}

.elements__like:hover {
   opacity: .5;
}
