.profile__avatar {
   width: 120px;
   height: 120px;
   background-image: url(../../../images/profile__avatar.jpg);
   background-size: contain;
   border-radius: 100%;
   background-repeat: no-repeat;
}